@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"),
    url("../fonts/Roboto-Black.ttf") format("opentype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/Roboto-Bold.ttf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.ttf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/Roboto-Light.ttf") format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin"), local("Roboto-Thin"),
    url("../fonts/Roboto-Thin.ttf") format("opentype");
  font-style: normal;
  font-weight: 100;
}
